
.container{
    display: flex;
    justify-content: center;
    align-items:center;
}
.formul{
    margin-top: 20px;
    background-color:white;
    width: 400px;
    height: 500px;
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}