@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');

.text_white{
    color:black;
    font-family: 'Open Sans', sans-serif;;
}

.wc{
  color:red;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}

.card_container{
    display: flex;
    width:100%;
    height: auto;
    background: transparent;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0, .2);
}

.header{
    border-right: 1px solid #dddddd;
}

.description{
    background: transparent;
    width: 100%;
}

.header, .description{
    padding:20px;
    text-align: start;
}

.imagen{
    max-width:  300;
    max-height: 300;
}