@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');


.boton{
    font-family: 'Reggae One', cursive;
    font-size: xx-large;
    text-align: center;
    margin-top: 15%;
    
}

.font{
    font-family: 'Reggae One', cursive;
    font-size: xx-large;
    text-align: center;
   
}
